<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
    {% block header %}
    {% endblock %}
    </header>

    <main>
        <!-- Errors -->

        <!-- Main -->
        {% block main %}
        {% endblock %}
    </main>

    <footer>
    </footer>
</body>

</html>