{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style_newwish.css' %}">
{% endblock %}

{% block main %}
    <div id="container">
        <header>
            <h1>Hello {{ user.first_name }}! Let's edit your wish! </h1>
            <a href="/logout">Log Out</a>
        </header>


        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div id="main">
            <form action="/edit/{{wish.id}}/update" method="post">
                {% csrf_token %}
                <p><label>I wish for:</label>
                    <input type="text" name="wish_item" value={{wish.item}}></label>
                </p>

                <p><label>Description</label>
                    <input type="text" name="item_describe" value={{wish.describe}}></label>
                </p>
                <a href='/wishes'><button>Cancel</button></a>
                <button type="submit">Edit</button>
            </form>

        </div>

    </div>
{% endblock %}
